@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Thin.woff2") format("truetype");
}

.color-light-grey { 
	background: #ececec; 
}
	
.color-light-blue { 
	background: #9fd3c7; 
}

.color-medium-blue { 
	background: #385170; 
}

.color-dark-blue { 
	background: #142d4c; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
