@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Thin.woff2") format("truetype");
}

#root{
  background: linear-gradient(135deg, #142D4C, #055061);
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  min-height: 100vh;
}

.bg-light-grey { 
	background: #ececec; 
}
	
.bg-light-blue { 
	background: #9fd3c7; 
}

.bg-medium-blue { 
	background: #385170; 
}

.bg-dark-blue { 
	background: #142d4c; 
}

.text-light-grey { 
	color: #ececec; 
}
	
.text-light-blue { 
	color: #9fd3c7; 
}

.text-medium-blue { 
	color: #385170; 
}

.text-dark-blue { 
	color: #142d4c; 
}



nav{
  background-color: green;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
